<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Java Nice Day - Post detail</title>
        <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"/>
        <!-- Bulma Version 0.7.2-->
        <link data-th-href="@{/webjars/bulma/0.7.2/css/bulma.css}" rel="stylesheet">
        <script data-th-src="@{/webjars/timeago.js/3.0.0/dist/timeago.js}"></script>
    </head>

    <body>
        <!-- START NAV -->
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <a class="navbar-item" href="../">
                        <img src="../images/bulma.png" alt="Logo">
                    </a>
                    <span class="navbar-burger burger" data-target="navbarMenu">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navbarMenu" class="navbar-menu">
                    <div class="navbar-end">
                        <a class="navbar-item is-active">
                            Home
                        </a>
                        <a class="navbar-item">
                            Examples
                        </a>
                        <a class="navbar-item">
                            Features
                        </a>
                        <a class="navbar-item">
                            Team
                        </a>
                        <a class="navbar-item">
                            Archives
                        </a>
                        <a class="navbar-item">
                            Help
                        </a>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Account
                            </a>
                            <div class="navbar-dropdown">
                                <a class="navbar-item">
                                    Dashboard
                                </a>
                                <a class="navbar-item">
                                    Profile
                                </a>
                                <a class="navbar-item">
                                    Settings
                                </a>
                                <hr class="navbar-divider">
                                <div class="navbar-item">
                                    Logout
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!-- END NAV -->

        <section class="hero is-info is-medium is-bold">
            <div class="hero-body">
                <div class="container has-text-centered">
                    <h1 class="title">Post detail</h1>
                </div>
            </div>
        </section>


        <div class="container">
            <!-- START ARTICLE FEED -->
            <section class="articles" >
                <!-- START ARTICLE -->
                <div class="card article">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content has-text-centered">
                                <p class="title article-title">
                                    <a data-th-href="${post.title}">[[${post.title}]]</a>
                                </p>
                                <div class="tags has-addons level-item">
                                    <span class="tag is-rounded is-info">Author</span>
                                    <span class="tag is-rounded">
                                        <time data-th-attr="datetime=${post.createdDate}">[[${post.createdDate}]]</time>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="content article-body">
                            [[${post.content}]]
                        </div>
                    </div>
                </div>
                <!-- END ARTICLE -->

            </section>
            <!-- END ARTICLE FEED -->
        </div>
        <script>
            var timeagoInstance = timeago();
            var nodes = document.querySelectorAll('time');
            timeagoInstance.render(nodes, 'en_US');
        </script>
    </body>

</html>
